.container > h1 {
}

.buttons-container{
	margin: 1em;
}

.grid-container {
	grid-auto-flow: row;
	display: inline-grid;
	grid: repeat(10, 25px) / auto-flow 25px;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	box-shadow: 2px solid #000;
	align-content: center;
	margin: 3px;
	padding: 0px;
}

.cell {
	text-align: center;
	border-top: 1px solid gray;
	border-left: 1px solid gray;
	margin: 0px;
	padding: 0px;

}
.cell:hover {
	cursor: pointer;
	background: #000;
}
.is-alive {
	background: #000;
	color: #fff;
}

.is-dead {
	background: #fff;
	color: #000;
}

.is-old {
	background: gray;
	color: #000;
}

